body {
	font-family: 'Raleway', sans-serif;
	background-color: #fdfdfd;
}

#login, #make-a-suggestion, #my-suggestions {
	display: none;
}

#login {
	position: fixed;
	top: 50%;
	left: 50%;
	margin-left: -105px;
	margin-top: -64px;
}

.login-button {
	background-color: #3b5998 !important;
	border-color: #3b5998 !important;
}

.login-button:hover {
	background-color: #8b9dc3 !important;
	border-color: #8b9dc3 !important;
}


.suggestionResult {
	display: none;
	background-color: #7BC342 !important;
	border-color: #7BC342 !important;
}

.suggestions {
	display: none;
	margin-bottom: 3em;
}

.make-a-suggestion-toggle {
	text-align: center;
	display: none;
	margin-bottom: 10px;
}

.from-user {
	font-size: 10px;
}

.current-user {
	font-size: 22px;
}

.more, .less {
	color: #888;
	text-decoration: none;
	font-size: 20px;
}

.more-box {
	background-color: #fafafa;
	font-size: 12px;
	position: absolute;
	right:0;
	width: 200px;
	border: solid 1px #888;
	border-radius: 3px;
	padding: 15px;
}

.logout {
	font-size: 10px;
	padding-left: 5px;
}

.suggestion-span {
	position: relative;
}

.imdb-search {
	display: none;
	border: 1px solid #AAA;
	border-radius: 3px;
	position: absolute;
	top: 37px;
	width: auto;
	left: 0;
	right: 0;
	background-color: white;
	padding: 8px;
}

.imdb-query-result {
	border-bottom: 1px solid #fafafa;
	padding: 5px 0;
	line-height: 1.3;
}

.year {
	color: #AAA;
	font-size: 13px;
}

.placeholder {
	display: none;
}

.select-with-placeholder {
	color: #888;
}

.invite-link {
	margin-bottom: 25px;
}