body {
	font-family: 'Raleway', sans-serif;
}

.suggestionResult {
	display: none;
	background-color: #7BC342 !important;
	border-color: #7BC342 !important;
}

.suggestions {
	display: none;
	margin-bottom: 3em;
}

.make-a-suggestion-toggle {
	text-align: center;
	display: none;
}

.from-user {
	font-size: 10px;
}

.current-user {
	font-size: 22px;
}

.more, .less {
	color: #888;
	text-decoration: none;
	font-size: 20px;
}

.more-box {
	background-color: #fafafa;
	font-size: 12px;
	position: absolute;
	right:0;
	width: 200px;
	border: solid 1px #888;
	border-radius: 3px;
	padding: 15px;
}

footer {
	text-align: center;
	position: absolute;
	bottom: 0;
	font-size: 12px;
}
